* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@@font-face {
  font-family: "helveticaneue"
  src: url("HelveticaNeue.ttf") format("ttf")
}




body {}

h1, h2, h3, h4, h5, h6 {}

.first-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  max-width: 1400px;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 5%;
}

/* carousell */

/* Slideshow container */

.flexslider img {
  width: 100%;
}

.flexsider {
  max-width: 1400px;
  position: relative;
  margin: auto;
  z-index: -1;
  overflow: hidden;
  clear: both;
}

/* Hide the images by default */

.slides {
  display: none;
}

/* Next & previous buttons */

.Prev, .Next {
  cursor: pointer;
  display: relative;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
}

/* Position the "next button" to the right */

.Next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* carousell */

.navbar {
  display: flex;
  max-height: 100px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  font-family: Dosis;
  color: #0f4d73;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  text-align: center;
  border-radius: 0;
  box-shadow: 0px 4px 0px #ffffff;
  align-items: center;
}

.mavigation {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid green;
}

/* navigation bar */

.menu {
  display: flex;
  float: left;
}

.menu a {
  text-decoration: none;
  color: #0f4d73;
}

.menu>li {
  display: inline;
  margin-right: 25px;
}

.menu>li:last-of-type {
  margin-right: 0;
}

.dropdown-menu {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  background: #FCFCFC;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-menu li {
  list-style: none;
  border bottom: 1px solid #fff;
  margin-top: 5px;
}

.dropdown-menu li:last-of-type {
  border-bottom: none;
}

.dropdown {
  position: relative;
}

.dropdown>span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}



.menu img {
  height: 15px;
  width: 15px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 3px;
}

/* navigation bar */

.logonav {
  width: 145px;
  height: 70px;
  margin-right: 150px;
}

.navinfo {
  display: flex;
  margin-right: 25px;
  text-align: left;
  font-family: Dosis;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700px;
  color: #dec881;
  flex-direction: row;
}

.navph {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-right: 15px;
}
.navph1{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.navph2{
  display: flex;
}

.navp {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;

}

.nav-infogoldin{
  display: flex;
  justify-content: space-between;
}
.nav-telgoldin{
  display: flex;

}
/* first box */

.behindbrand {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.title-id {
  position: relative;
  text-align: center;
}
.goldinmini2{
position: relative;
text-align: center;
width: 25px;
height: 30px;

}

.title-id h4{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%)
}
.about-goldin {
  display: inline-flex;
  flex-direction: row;
}

.aboutgoldin {
  width: 625px;
  height: 347px;
  z-index: 1;
  flex-direction: row;
  position: relative;
  top: 50px;
  left: 210px;
  background-color: #ffffff;
  text-align: center;
}

.agcomment {
  width: 528px;
  height: 257px;
  text-align: center;
  top: 50px;
  margin-top: 50px;
}

.aboutgoldin a {
  text-decoration: none;
}

.aboutgoldinpic {
  display: flex;
  position: relative;
  z-index: 0;
  right: 0;
  top: 0;
  flex-direction: row;
}

/* second box */

.collection {
  display: flex;
  text-align: center;
  flex-direction: column;
  border:1px solid red;
}

.mbox {
  display:flex;
  width: 1200px;
  height: 736px;
  border:1px solid blue;
  flex-direction:column;
}
.frow{
  display:flex;
  width: 529px;
  height: 497px;
  padding-left: 50px;
 border:1px solid pink;
}
.secrow{
display:flex;
flex-direction: column;
width: 529px;
height: 497px;
border:1px solid green;

}


/* thirt box */

.viewall {
  width: 1260px;
  height: 386px;
}

.viewallpics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 0px;
}

.p1 {
  display: flex;
  position: relative;
  margin-left: 45px;
}

.p2 {
  position: relative;
}

.p21 {
  display: flex;
  z-index: 0;
  position: relative;
}

.p22 {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 100px;
}

.p3 {
  position: relative;
}

.p31 {
  display: flex;
  z-index: 0;
  position: relative;
}

.p32 {
  z-index: 1;
  position: absolute;
  top: 45px;
  left: 70px;
}

.p4 {
  display: flex;
  position: relative;
  margin-right: 45px;
}

.footban {
  background-color: #00416A;
}

.footer {
  display: flex;
  flex-direction: column;
}


.frow1 {
  font-family: Dosis;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frow1 a {
  text-decoration: none;
  color: #ffff;
}

.frow1 span {
  font-size: 18px;
  font-weight: 700;
}

.menu-footer {
  display: flex;
  float: left;
  margin-right: 50px;
}

.menu-footer ul {
  list-style-type: none;
  margin-top: 20px;
}

.menu-footer>li {
  display: inline;
  margin: 50px;
}

.dropdown-menu-footer>li {
  margin-top: 5px;
  list-style: none;
  margin-bottom: 7, 5px;
}

.comment {
  display: flex;
  border: 1px solid green;
  margin-left: 50px;
  margin-top: -70px;
}

.commentfrow {
  font-size: 40px;
  font-family: HiraMinPro;
  font-size: normal;
  font-stretch: normal;
  font-weight: 400;
  text-align: left;
}

.centerbanner {
  display: flex;
  align-items: center;
}

.srow1 {
  font-family: Dosis;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  text-align: left;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px;
}

/* Collection main page  */

.cmpbox {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  justify-content: space-around;
}

.cfrow1 {
  display: flex;
  flex-direction: column;
}

.cmf1p {
  margin-bottom: 25px;
}

.cfrow2 {
  display: flex;
  flex-direction: column;
}

.cmf2p {
  margin-bottom: 25px;
}
/* collection-elementi  */
.collectionbase{
display: flex;
flex-direction: column;

}
.ele{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height:750px;

}
.luce{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height:750px;
}

.pompei{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height:750px;
}

.goya {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 1140px;
  height:750px;
}

.goyaparags{
  display:flex;
  flex-direction: column;
  width: 750px;
  height: 455px;
  background-color: #fcfcfc;
  position: relative;
  z-index: 1;
  padding: 50px;
  color: #646464;
  border:1px solid red;
  left: 30px;
}

.goyaparagp{
  display: flex;
  flex-direction: column;
  font-family: "Dosis";
  color: gray;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  padding-top: 10px;
}
.goyaparags h1{
  font-size: 48px;
  font-family: "helveticaneue";
  font-weight: 300;
  font-style: normal;
  padding-top:25px;
}


.goyaparags h5{
font-family: "dosis";
font-weight: 300;
font-style: normal;
}

.parags{
  display:flex;
  flex-direction: column;
  width: 923px;
  height: 339px;
  background-color: #fcfcfc;
  position: relative;
  z-index: 1;
  top: 75px;
  padding: 50px;
  color: #646464;
}
.paragh{
  align-items: left;
}

.parags h1{
  font-size: 48px;
  font-family: "helveticaneue";
  font-weight: 300;
  font-style: normal;
  padding-top:25px;
}
.parags h5{
  font-family: "dosis";
  font-weight: 300;
  font-style: normal;
  padding-top: -25px;

}

.paragp{
display: flex;
flex-direction: column;
font-family: "Dosis";
color: gray;
font-size: 16px;
font-style: normal;
font-stretch: normal;
font-weight: 400;
padding-top: 15px;


}

.paragpic{
display: flex;
width: 1140px;
height:516px;
position: relative;
z-index: 0;
}

/* about  */
.aboutmain{

}
.aboutcase1{
  display:flex;
  flex-direction: column;
  width: 625px;
  height: 720px;
  background-color: #fcfcfc;
  position: relative;
  z-index: 1;
  top: 75px;
  padding: 50px;
  color: #646464;
  border: 1px solid red;
}
.aboutcase2{
  display:flex;
  flex-direction: column;
  width: 625px;
  height: 438px;
  background-color: #fcfcfc;
  position: relative;
  z-index: 1;
  top: 75px;
  padding: 50px;
  color: #646464;
  border: 1px solid red;
}
